body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 800px;
    background-color: #ccc;
    height: auto;
    clear: both;
    overflow: auto;
    margin: 40px auto;
}
.header {
    height: 100px;
    width:740px;
    background-image: url(../img/NMSUGrants_AggieRideClub.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 35px 0 0 55px;
}

.menu {
    height: 50px;
}
.main {
    width: 700px;
    color: #8c0b42;
    margin: 0 auto;
}
.main_location {
    /*background: red;*/
    width: 800px;
    margin: 0 auto;
}
.left-body {
    width: 400px;
    float: left;
    height: 800px;
}
.right-body {
    width: 400px;
    float: right;
    height: auto;
    margin: 0 auto;
}
.formElement {
    width: 350px;
    margin: 6px auto;
    height: 35px;
}
.TField {
    width: 350px;
    height: 32px;
    border: 1px solid #e0dfdf;
    padding-left: 6px;
    font-size: 17px;
}
.button {
    font-size: 25px;
    width:170px;
    height: 45px;
    background-color: #8c0b42;
    font-family: 'Raleway', sans-serif;
}
.faq {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid grey;
    border-radius: 15px;
    color: black;
    font-size: 18px;
}
.logout {
    text-align: center;
}
#loggedIn {
    font-size: 26px;
    padding: 5px 0 0 5px;
}
#instructions {
    font-size: 22px;
    padding: 10px 0 0 25px;
}
.footer {
    font-size: 25px;
    height: 100px;
    background-color: #ededed;
    bottom: 0;
    position: fixed; 
}

p {
    color: black;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
address {
    color: #8c0b42;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-style: normal;
}
.nope {
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
}
#disclaimer {
    background-color: #ffcc33;
    text-align: center;
    vertical-align: middle;
    padding-left: 15px;
}
#footer_info {
    padding-left: 25px;
    font-family: 'Raleway', sans-serif;
}
#footer_disclaimer {
    padding-top: 22px;
    padding-left: 25px;
    font-family: 'Raleway', sans-serif;
}
#twitter_feed {
    margin: 0 auto;
}
.fb-like {
    padding-bottom: 4px;
}
#first {
    width: 390px;
    height; 200px;
    float: left;
    margin: 5px 0 0 5px;
    padding-top: 10px;
}
#second {
    width: 390px;
    height: 200px;
    float: right;
    margin: 5px 5px 0 0;
    padding-top: 10px;
}
#clear {
    clear: both;
}