.body {
    margin: 0;
    padding: 0;
    background-color: #ededed;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 800px;
    background-color: #ccc;
    /*height: auto;*/
    /*clear: both;
    overflow: auto;*/
    margin: 40px auto;
}
.header {
    height: 100px;
    width:740px;
    background-image: url(../img/NMSUGrants_AggieRideClub.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 35px 0 0 55px;
}
.menu {
    height: 50px;
}
.main {
    width: 700px;
    color: #8c0b42;
    margin: 0 auto;
}
.main_location {
    /*background: red;*/
    width: 800px;
    margin: 0 auto;
}
.left-body {
    width: 400px;
    float: left;
    height: 900px;

}
.right-body {
    width: 400px;
    float: right;
    height: 900px;
    
}
.center-body {
    width: auto;
    float: none;
    height: auto;
}
.formElement {
    width: 350px;
    margin: 6px auto;
    height: 35px;
}
.TField {
    width: 350px;
    height: 32px;
    border: 1px solid #e0dfdf;
    padding-left: 6px;
    font-size: 17px;
}
.button {
    font-size: 25px;
    color: white;
    width:170px;
    height: 45px;
    background-color: #8c0b42;
}
.faq {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid grey;
    border-radius: 15px;
    color: black;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
#logout {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #8c0b42;
    padding: 65px 0;
}
p {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
#loggedIn {
    font-size: 26px;
    padding: 10px 0 0 10px;
    font-family: 'Raleway', sans-serif;
}
#instructions {
    font-size: 18px;
    padding: 0px 0px 50px 50px;
    font-family: 'Raleway', sans-serif;
}
.footer {
    font-size: 10px;
    height: 50px;
    background-color: #ededed;
    bottom: 0;
    position: fixed;
    text-align: center;
}
    
/*.left{
    text-align:left;
    float:left;
}
.right{
    float:right;
    text-align:right;
}
.centered{
    text-align:center;
}*/

/*{*/
/*    color: black;*/
/*    font-size: 18px;*/
/*    font-family: 'Arial', sans-serif;*/
/*}*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}
address {
    color: #8c0b42;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 20px;
}
.nope {
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
}



   /* vertica
   l-align: middle;*/
   /* padding-left: 15px;*/
   


#footer_info {
    padding-left: 25px;
    height: 100px;
    font-family: 'Raleway', sans-serif;
}
#footer_disclaimer {
    /*padding-top: 22px;
    padding-left: 25px;*/
    font-size: 15px;
    text-align: center;
    font-family: 'Belleza', sans-serif;
}
#disclaimer {
    font-size: 15px;
    background-color: #ededed;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    /*position: absolute;
    /*margin: 0 auto;*/
    font-family: 'Raleway', sans-serif;
}
#twitter_feed {
    margin: 0 auto;
}
.fb-like {
    padding-bottom: 4px;
}
#rider-container {
    background-color: blue;
    padding: 2px 0 0 10px;
}
#rider-list {
    background-color: #ccc;
    height: 125px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    display: none;
}
#first {
    width: 390px;
    /*height: 200px;*/
    float: left;
    margin: 5px 0 0 5px;
    padding-top: 10px;
}
#second {
    width: 390px;
    /*height: 200px;*/
    float: right;
    margin: 5px 5px 0 0;
    padding-top: 10px;
}
#clear {
    clear: both;
}
#hide {
    display: none;
}
#show {
    display: true;
}


